# SQL Server Credentials
MSSQL_SA_PASSWORD=P@ssw0rd1234!
SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433

# Backend
DOTNET_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000

# Frontend
ANGULAR_API_URL=http://localhost:5000
NODE_ENV=development
